{
	"extends": [
		"stylelint-config-standard-scss",
		"stylelint-config-recommended-vue/scss"
	],
	"rules": {
		"no-missing-end-of-source-newline": null,
		"no-empty-first-line": null,
		"indentation": "tab",
		"string-quotes": "single",
		"selector-class-pattern": null,
		"selector-pseudo-class-no-unknown": null,
		"declaration-block-trailing-semicolon": null,
		"scss/at-mixin-pattern": "^[A-Z][a-z]+(?:[A-Z][a-z]+)*$",
		"scss/dollar-variable-pattern": "^[a-z]+(?:[A-Z][a-z]+)*$"
	}
}
