// TODO: remove this when QR-481 is done
$disabled: #cccccc;

@mixin Button($background-color: unset, $text: #fff, $disabled-background-color: $disabled) {
	@if $background-color != unset {
		background-color: $background-color;
		color: $text;
		border: none;
		&::after {
			border: none;
			content: unset;
			transition: unset;
		}
	}
	cursor: pointer;
	&:hover,
	&:focus-visible {
		transform: perspective(1px) translateZ(0) scale(1.05);
	}
	&.pressed {
		transform: perspective(1px) translateZ(0) scale(0.95);
	}
	&.disabled {
		cursor: not-allowed;
		background-color: $disabled-background-color;
	}
}
